/* CSS reset  */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-heigth:59px;
}

/* Services section */
.services-container{
    background-color: rgb(142, 141, 140);
    /* height: 200%; */
}
#services{
    height: 200%;
    margin: 0px;
    display: flex;
   


}
#services .box{
   
    font-display: right;
    padding: 34px;
    
    /* border-radius: 23px; */
    /* background-color: rgb(253, 205, 141); */
    /* margin-bottom: 20px; */
    
    
}
#services .box img{
    height: 100%;
    width: 400px;
    display: block;
    margin: auto;
    
    
}
#services .box p{
    font-family: 'Bree Serif', serif;

    
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 1px;
    font-family: 'Bree Serif', serif;


}
.h-secondary{
    font-size: 2.2rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}